<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="{{base}}" />
    <title>{{app.config.user.company}} | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{composer_base}}/fortawesome/font-awesome/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{system_base}}/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{system_base}}/adminlte/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            {% if app.config.user.logo %}
            <img src="{{app.config.user.logo}}" />
            {% else %}
            {{app.config.user.company}}
            {% endif %}
        </div>
        <!-- /.login-logo -->
        <div class="card" id="app">
            <div class="card-body login-card-body">
                <p class="login-box-msg" v-text="message" :class="{'text-red':error}"></p>

                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Username" autocomplete="username" v-model="username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" autocomplete="current-password" v-model="password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember" ref="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" @click.prevent="signIn">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mb-1">
                    <a href="#" @click.prevent="forgetPassword">I forgot my password</a>
                </p>
                <p class="mb-1">
                    {{app.version}}
                </p>


            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->

    <template id="forget-dialog">
        <form>
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" type="text" name="username" required autocomplete="username" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" name="email" required autocomplete="email" />
            </div>
        </form>
    </template>

    <!-- jQuery -->
    <script src="{{system_base}}/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="{{system_base}}/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="{{system_base}}/adminlte/dist/js/adminlte.min.js"></script>
    <!-- Bootbox -->
    <script src="{{system_base}}/plugins/bootbox/bootbox.all.min.js"></script>

    <!-- Vue -->
    <script src="{{system_base}}/plugins/vue/vue.js"></script>
    <script src="{{system_base}}/plugins/vue/vue-resource.min.js"></script>
    <script src="{{system_base}}/js/vue-gql.js"></script>

    <!-- r-webauthn -->
    <script src="{{composer_base}}/vendor/mathsgod/r-webauthn/dist/main.js"></script>

    <script src="{{system_base}}/src/index.js"></script>

</body>

</html>